.navbar{
    background-color: rgb(32, 38, 68);
}

.h1{
    display: flex;
    color: rgb(32, 38, 68);
    margin-bottom: 60px;
    margin-left: 450px;
    margin-top: 40px;
}

.summer{
    margin-left: 400px;
    margin-bottom: 120px;
}

.second{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.deux{
    background-color: rgb(32, 38, 68);
    color: white;
}

.third{
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
}